<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
    <script type="text/javascript"  src="/javascripts/javascript.js" language="javascript"></script>
    <title>Quizmaster.com</title>
</head>
<body>
<div class="container">
    <b id="hcj">Quizmaster.com</b>
    <input type="search" id="search" placeholder="search,,,"/>
    <div id="maincenter">
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li>
                    <a href="#">Forum</a>
                    <ul>
                        <li><a href="JavaScript:void(0);" onclick="quizPage();">All Quizes</a></li>
                        <!-- <li><a href="feedback.html">Feedback</a></li>-->
                        <li><a href="JavaScript:void(0);" onclick="feedbackPage();">Feedback</a></li>
                    </ul>
                </li>
                <!--<li><a href="aboutus.html">About</a></li>-->
                <li><a href="JavaScript:void (0);" onclick="aboutPage();">About</a></li>
                <li><a href="JavaScript:void (0);" onclick="contactus();">Contact Us</a></li>
            </ul>
        </nav>
        <div id="mainpagecenter">
            <div id="mainpic">
                <img src="/images/html5_css3_javascript.jpg" alt="pic not found">
            </div>
            <br><br>
            <div id="courses">
                <table   align="center">
                    <tr>
                        <td><a href="/html5">HTML5</a></td>
                    </tr>
                    <!-- <tr><td><a href="JavaScript:void(0);" onclick="html();">HTML5</a></td></tr>-->
                    <tr>
                        <td><a href="css3.html">CSS3</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript.html">JAVASCRIPT</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
        <footer>
            CopyRight© Zain Ansari,2017
        </footer>
    </div>
</div>
</body>
</html>
