<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quizmaster.com</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
    <script type="text/javascript"  src="/javascripts/javascript.js" language="javascript"></script>
</head>
<body>
<div class="container">
    <b id="hcj">Quizmaster.com</b>
    <input type="search" id="search" placeholder="search,,,"/>
    <div id="maincenter">
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li>
                    <a href="#">Forum</a>
                    <ul>
                        <li><a href="JavaScript:void(0);" onclick="quizPage();">All Quizes</a></li>
                        <!-- <li><a href="feedback.html">Feedback</a></li>-->
                        <li><a href="JavaScript:void(0);" onclick="feedbackPage();">Feedback</a></li>
                    </ul>
                </li>
                <!--<li><a href="aboutus.html">About</a></li>-->
                <li><a href="JavaScript:void (0);" onclick="aboutPage();">About</a></li>
                <li><a href="JavaScript:void (0);" onclick="contactus();">Contact Us</a></li>
            </ul>
        </nav>
        <div id="mainpagecenter">
            <div id="htmlcenter">
                <a href="starthtmltest.html" id="test">Take Test</a>
                <br><br><br>
                <div class="material">
                    <div id="html5" align="center">HTML5 Tutorial</div>
                    <br>
                    <h2>Html Tag</h2>
                    This is the container of all tags. All the tags are enclosed in Html tag.<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;html&gt;<br>
                        &lt;body&gt;<br>
                        &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
                        &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
                        &lt;/body&gt;<br>
                        &lt;/html&gt;
                    </p>
                    <h2>Elements</h2>
                    HTML elements are written with a start tag, with an end tag, with the content.<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;html&gt;<br>
                        &lt;body&gt;<br>
                        &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
                        &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
                        &lt;/body&gt;<br>
                        &lt;/html&gt;
                    </p>
                    <h2>Paragraph Tag</h2>
                    The HTML &LT;p&GT; element defines a paragraph.<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;p&gt;This is a paragraph&lt;/p&gt;
                    </p>
                    <h2>Head</h2>
                    The &LT;head&GT; element is a container for meta data (data about data).<br>
                    HTML meta data is data about the HTML document. Metadata is not displayed.<br>
                    Meta data typically define document title, styles, links, scripts, and other meta information.<br>
                    The following tags describes meta data: &LT;title&GT;, &LT;style&GT;, &LT;meta&GT;, &LT;link&GT;, &LT;script&GT;<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;!DOCTYPE html&gt;<br>
                        &lt;head&gt;<br>
                        &lt;title&gt;Page Title&lt;/title&gt;<br>
                        &lt;/head&gt;
                    </p>
                    <h2>Images</h2>
                    In HTML, images are defined with the &lt;img&gt; tag.<br>
                    The &lt;img&gt; tag is empty, it contains attributes only, and does not have a closing tag.<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        The src attribute defines the url (web address) of the image:<br>
                        &lt;img src="url" alt="some_text"&gt;
                        <br>
                    </p>
                    <h2>Links</h2>
                    In HTML, links are defined with the &lt;a&gt; tag<br>
                    The href attribute specifies the destination address (http://www.w3schools.com/html/)<br>
                    The link text is the visible part (Visit our HTML tutorial).<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;a&gt; href="html_images.asp"&lt;a&gt;HTML Images&lt;/a&gt;
                        <br>
                    </p>
                    <h2>Heading</h2>
                    Headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags.<br>
                    &lt;h1&gt; defines the most important heading. &lt;h6&gt; defines the least important heading.<br>
                    <h3>Example:</h3>
                    <p class="matexample">
                        &lt;h1&gt;This is a heading&lt;/h1&gt;<br>
                        &lt;h2&gt;This is a heading&lt;/h2&gt;<br>
                        &lt;h3&gt;This is a heading&lt;/h3&gt;<br>
                    </p>
                </div>
            </div>
            <div id="footer">
                <footer>
                    CopyRight© Zain Ansari,2017
                </footer>
                <br><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>