<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quizmaster.com</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
    <script type="text/javascript"  src="javascript.js" language="javascript"></script>
</head>
<body>
<div class="container">
    <b id="html5test">HTML5 TEST</b>
    <div class="quizcenter">
        <br><br><br>
        <div id="question">
            <p style="font-size: 51px">There are 10 Questions in this test.</p>
            <p style="font-size: 31px">You choose the best option!!</p>
            <a href="htmlq1.html" id="quiz">Start Quiz</a>
        </div>
    </div>
</div>
</div>
</body>
</html>